@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 7s ease infinite;
  /* Adjusted for a faster animation */
}


/* .loader {    
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#dc2626 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#dc2626 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#dc2626 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat: no-repeat;
  animation: l9 3s infinite linear;
}

@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100% }
} */


/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#dc2626 0 0);
  background: var(--c), var(--c), #BDC1C8;
  background-size: 60% 100%;
  animation: l16 6s infinite;
  /* Increased duration from 3s to 6s */
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }

  66% {
    background-position: 250% 0, -150% 0;
  }

  100% {
    background-position: 250% 0, 250% 0;
  }
}


.progress-container {
  width: 100%;
  max-width: 400px;
  height: 12px;
  background-color: #e5e7eb; /* Light gray */
  border-radius: 1px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px; /* Add spacing between the bar and text */
}

.progress-bar {
  height: 100%;
  background-color: #dc2626; /* Red color */
  transition: width 0.5s linear;
}

.progress-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000000; /* Black text for better visibility */
  margin-top: 5px; /* Space between the bar and text */
}
